force-app/main/default/flows/AU_CS_Order_Notes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>updateNoteFields</name>
        <label>updateNoteFields</label>
        <locationX>268</locationX>
        <locationY>160</locationY>
        <assignmentItems>
            <assignToReference>theOrder.CS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CSComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theOrder.Delivery_Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryInstructions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theOrder.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CSCommentsCleared</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateStatusToProcessOrder</name>
        <label>UpdateStatusToProcessOrder</label>
        <locationX>527</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>theOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Process Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CSCommentsCleared</name>
        <label>CSCommentsCleared</label>
        <locationX>447</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>updateOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theOrder.CS_Comments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusToProcessOrder</targetReference>
            </connector>
            <label>Cleared</label>
        </rules>
    </decisions>
    <interviewLabel>AU_CS_Order_Notes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AU_CS_Order_Notes</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOrder</name>
        <label>getOrder</label>
        <locationX>79</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderDetails</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <object>Order__c</object>
        <outputReference>theOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Order_Date__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>CS_Comments__c</queriedFields>
        <queriedFields>Delivery_Instructions__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateOrder</name>
        <label>updateOrder</label>
        <locationX>214</locationX>
        <locationY>383</locationY>
        <inputReference>theOrder</inputReference>
    </recordUpdates>
    <screens>
        <name>OrderDetails</name>
        <label>OrderDetails</label>
        <locationX>79</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateNoteFields</targetReference>
        </connector>
        <fields>
            <name>OrderNumber</name>
            <fieldText>Order:  {!theOrder.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrderDate</name>
            <fieldText>Order Date:  {!theOrder.Order_Date__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountName</name>
            <fieldText>Account:  {!theOrder.Account_Name__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CSComments</name>
            <defaultValue>
                <elementReference>theOrder.CS_Comments__c</elementReference>
            </defaultValue>
            <fieldText>CSComments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <elementReference>theOrder.Notes__c</elementReference>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DeliveryInstructions</name>
            <defaultValue>
                <elementReference>theOrder.Delivery_Instructions__c</elementReference>
            </defaultValue>
            <fieldText>DeliveryInstructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getOrder</startElementReference>
    <status>Active</status>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order__c</objectType>
    </variables>
</Flow>
